@import '../../shared/styles/_variables.scss';
.week-nav-wrapper {
  margin-bottom: 0.8rem;
}
.hidden {
  display: none;
  visibility: hidden;
}
h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.size {
  font-size: 50px;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
  color: $ntGreen;
  font-size: 3rem;
}
.second-row-text {
  cursor: pointer;
  color: $ntPurple;
  font-size: 2rem;
  margin: none;
}
.first-row-text {
  cursor: pointer;
  color: $ntGreen;
  font-size: 2rem;
}
.calendar-icon {
  cursor: pointer;
  background-color: $ntGreen;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
}
.current-week {
  display: flex;
  cursor: pointer;
  color: $ntGreen;
  margin-top: 25px auto;
  justify-content: center;
}
