<div class="week-nav-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
  <i (click)="changeWeek(-1)" class="material-icons size pointer">keyboard_arrow_left</i>
  <div (click)="picker.open()" class="wrap">
    <div fxLayout="row" fxLayoutAlign="center ">
      <h2 class="first-row-text">Week {{weekNumber}} / {{ lastDay | date:"y" }} </h2>
      <div class="calendar-icon">
        <i class="material-icons icon-center ">event_note</i>
      </div>
    </div>
    <mat-form-field class="hidden">
      <input (dateInput)="addEvent($event)" [ngModel]="selectedDate" matInput [matDatepicker]="picker" placeholder="Choose a date"
      />
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h2 class="second-row-text"> {{firstDay | date:"MMMM dd" }} - {{lastDay | date:"MMMM dd" }}</h2>
      <i (click)="changeWeek(1)" class="material-icons size pointer">keyboard_arrow_right</i>
    </div>