<div class='day-component-wrapper' ngClass.xs="xsView" ngClass.sm='mediumView' fxLayoutWrap fxLayout="row" fxLayoutAlign="space-around center"
  fxLayoutAlign.sm="space-evenly center" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">


  <mat-spinner *ngIf="shouldShowLoader()" diameter="80"></mat-spinner>
  <ng-container *ngIf="!shouldShowLoader()">
    <div class='week-day' fxLayout="column">
      <div class='month-info' fxLayoutAlign="center">
        <span class="day-of-month">{{inputDay |date:"dd" |uppercase}}</span>
        <span class="month">{{inputDay |date:" MMM" |uppercase}}</span>
      </div>
      <div class='day-info' fxLayoutAlign="center center">
        {{inputDay |date:"EEEE" |uppercase}}
      </div>
    </div>

    <div class='parking-slots' fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="space-between stretch"
      fxLayoutAlign.xs="space-between stretch">

      <slot class="slot" [user]="subscribers.alocated[0].user" [ngClass]="{'empty': !subscribers.alocated[0].user.name}"></slot>
      <slot class="slot" [user]="subscribers.alocated[1].user" [ngClass]="{'empty': !subscribers.alocated[1].user.name}"></slot>
      <slot class="slot outside" [user]="subscribers.alocated[2].user" [ngClass]="{'empty': !subscribers.alocated[2].user.name}"></slot>
    </div>

    <div class='others-and-dropdown' fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutAlign.sm="space-between end" fxLayoutAlign.xs="space-around stretch">
      <div class="others" [ngClass]="{'others-hide': !othersCount }" fxLayout="row" fxLayoutAlign=" center">
        <button class="button-waiting" matTooltip="Waiting List" (click)="openSubscribersList()">...{{othersCount}} more waiting</button>
      </div>
      <div class="parking-buttons">
        <div *ngIf="subscribeBtnState" class="btn-group" fxLayout="row" fxLayoutAlign="end none" fxLayoutAlign.xs="none stretch">
          <button class="btn btn-text" [ngClass]="{'btn-disabled': subscribeBtnDisabled }" [disabled]='subscribeBtnDisabled' (click)="subscribeBtnToggle(0)"
            value="{{inputDay}}">I Want To Park</button>
          <button matTooltip="Choose parking spot" class="btn btn-select" [ngClass]="{'btn-disabled': subscribeBtnDisabled }" [disabled]='subscribeBtnDisabled'
            [matMenuTriggerFor]="menu">
            <i class="material-icons down-arrow">arrow_drop_down</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="subscribeBtnToggle(1)">Park Underground</button>
            <button mat-menu-item (click)="subscribeBtnToggle(2)">Park Outside</button>
          </mat-menu>
        </div>
        <button *ngIf="!subscribeBtnState" class="btn btn-text btn-cancel" [ngClass]="{'btn-disabled': cancelBtnDisabled }" [disabled]='cancelBtnDisabled'
          (click)="subscribeBtnToggle(-1)">Cancel</button>
      </div>
    </div>
  </ng-container>

</div>
