<div class='day-component-wrapper' ngClass.xs="xsView" ngClass.sm='mediumView' fxLayoutWrap fxLayout="row" fxLayoutAlign="space-around center"
  fxLayoutAlign.sm="space-evenly center" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">


  <mat-spinner *ngIf="shouldShowLoader()" diameter="80"></mat-spinner>
  <ng-container *ngIf="!shouldShowLoader()">
    <div class='week-day' fxLayout="column">
      <div class='month-info' fxLayoutAlign="center">
        <span class="day-of-month">{{inputDay |date:"dd" |uppercase}}</span>
        <span class="month">{{inputDay |date:" MMM" |uppercase}}</span>
      </div>
      <div class='day-info' fxLayoutAlign="center center">
        {{inputDay |date:"EEEE" |uppercase}}
      </div>
    </div>

    <div class='parking-slots' fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.sm="space-between stretch"
      fxLayoutAlign.xs="space-between stretch">

      <ng-container *ngFor="let items of subscribers.alocated">
        <nt-slot class="slot" (click)="openSubscribersList()" [user]="items.user" [hadPriority]="items.hadPriority" [ngClass]="{'empty': !items.user.name}"></nt-slot>
      </ng-container>
    </div>

    <div class='others-and-dropdown' fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutAlign.sm="space-between end" fxLayoutAlign.xs="space-around stretch">
      <div class="others" [ngClass]="{'others-hide': !othersCount }" fxLayout="row" fxLayoutAlign=" center">
        <button class="button-waiting" matTooltip="Waiting List" (click)="openSubscribersList()">...{{othersCount}} more waiting</button>
      </div>
      <div class="parking-buttons">
        <button mat-button *ngIf="subscribeBtnState" class="btn btn-text btn-park" [ngClass]="{'btn-disabled': subscribeBtnDisabled }"
          [disabled]='subscribeBtnDisabled' (click)="subscribeBtnToggle(0)" value="{{inputDay}}">Park</button>
        <button mat-button *ngIf="!subscribeBtnState" class="btn btn-text btn-cancel" [ngClass]="{'btn-disabled': cancelBtnDisabled }"
          [disabled]='cancelBtnDisabled' (click)="subscribeBtnToggle(-1)">Cancel</button>
      </div>
    </div>
  </ng-container>

</div>
