<p [routerLink]="['login']" mat-button>
  <button *ngIf="!auth.isAuthenticated()" mat-button class="login-button">
    <i class="material-icons">power_settings_new</i>
  </button>
  <button *ngIf="auth.isAuthenticated()" (click)="auth.logout()" mat-button class="logout-button">
    <i class="material-icons">power_settings_new</i>
  </button>
</p>

<app-login *ngIf="!isLoggedIn()"></app-login>

<div *ngIf="isLoggedIn()">

  <mat-toolbar color="primary">

    <i class="material-icons" (click)="sidenav.toggle()">menu</i>
    <img class="logo" src=".\assets\img\nexttech_logo.png">

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [(opened)]="opened" [mode]="mode">

      <mat-nav-list class="side-nav-list">
        <a [routerLink]="['users']" mat-list-item>Users</a>
        <a [routerLink]="['week']" mat-list-item>Week</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>