mat-sidenav {
  min-width: 150px;
}
.login-button,
.logout-button {
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: white;
  margin-top: 13px;
}
.mat-drawer-container {
  min-height: 500px;
}
.material-icons {
  cursor: pointer;
}
.mat-toolbar {
  background: #26353c;
}
.logo {
  margin-left: 20px;
}
.whatever {
  color: red;
}
