@import './shared/styles/_variables.scss';

//side nav
mat-sidenav {
width: 260px;
background: $ntGray;
}
login-logout-btn
.login-button,
.logout-button {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

.mat-button .mat-button-wrapper{
  border-radius: 50%;
  background: $ntGray;
}


.mat-drawer-container {
  min-height: 500px;
}
.material-icons {
  cursor: pointer;
  color: $ntGreen;
}

//toolbar
.mat-toolbar {
  background: white;
  height: 64px;
}
.logo {
  margin-left: 20px;
}

.side-nav-list{
  background: $ntGray;
  
}

.mat-list-item {
  color:white;
  font-size: 18px;
}
.mat-list-item.mat-list-item-focus{
  background:olive;
}
.mat-drawer.mat-drawer-push{
  background: $ntGray;
}