.slot {
  background: #26353c;
  border-radius: 5px;
  padding: 10px 10px;
  color: #19b798;
  margin: 0 15px 10px 15px;
  font-size: 1.2em;
  text-align: center;
  min-width: 170px;
  font-weight: 600;
}
