$ntGreen: #19b798;
$ntPurple: #8b96c3;
$gray: #d3d6d8;
$lightGray: #dcdfe0;
$darkGray: #7d7d7d;
$ntLogoBg: #354146;
$ntDarkGray: #222f35;
$ntTextColor: #455a64;

$ntGray: #26353C;
$ntGrayLight: #3C4A50;
$toggleColor: #B6BBBD;
