<div class='day-component-wrapper' fxLayoutWrap ngClass.xs="xsView" ngClass.sm='mediumView' fxLayout="row" fxLayoutAlign="space-between"
  fxLayoutAlign.sm="space-evenly center" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">

  <div class='week-day' fxLayout="column">
    <div class='month-info' fxLayoutAlign="center">
      <span class="month">{{inputDay |date:" MMM" |uppercase}}</span>
    </div>
    <div class='day-info' fxLayoutAlign="center">
      <span class="day-of-month">{{inputDay |date:"dd" |uppercase}}</span>
      <span class="day-of-week">{{inputDay |date:"EEE " |uppercase}}</span>
    </div>
  </div>

  <mat-spinner diameter="60" *ngIf="shouldShowLoader()"></mat-spinner>

  <div *ngIf="!shouldShowLoader()" class='parking-slots' fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutAlign.sm="space-between stretch" fxLayoutAlign.xs="space-between stretch">

    <slot [user]="alocatedSorted[0].user" [ngClass]="{'empty': !alocatedSorted[0].user.name}"></slot>
    <slot [user]="alocatedSorted[1].user" [ngClass]="{'empty': !alocatedSorted[1].user.name}"></slot>
    <slot [user]="alocatedSorted[2].user" [ngClass]="{'empty': !alocatedSorted[2].user.name}" class='outside'></slot>
  </div>

  <div *ngIf="!shouldShowLoader()" class='others-and-dropdown' fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutAlign.sm="space-between end" fxLayoutAlign.xs="space-around stretch">
    <div class="others" [ngClass]="{'others-hide': !othersCount }" fxLayout="row" fxLayoutAlign=" center">
      <waiting-list-display matTooltip="Waiting List" [selectedDay]='inputDay' [waitingList]='subscribers.others' [othersCount]='othersCount'></waiting-list-display>
    </div>
    <div class="parking-buttons">
      <div *ngIf="subscribeBtnState" class="btn-group" fxLayout="row" fxLayoutAlign="end none" fxLayoutAlign.xs="none stretch">
        <button class="btn btn-text" [ngClass]="{'btn-disabled': subscribeBtnDisabled }" [disabled]='subscribeBtnDisabled' (click)="subscribeBtnToggle(0)"
          value="{{inputDay}}">I Want To Park</button>
        <button matTooltip="Choose parking spot" class="btn btn-select" [ngClass]="{'btn-disabled': subscribeBtnDisabled }" [disabled]='subscribeBtnDisabled'
          [matMenuTriggerFor]="menu">
          <i class="material-icons down-arrow">arrow_drop_down</i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="subscribeBtnToggle(1)">Park Underground</button>
          <button mat-menu-item (click)="subscribeBtnToggle(2)">Park Outside</button>
        </mat-menu>
      </div>
      <button *ngIf="!subscribeBtnState" class="btn btn-text btn-cancel" (click)="subscribeBtnToggle(-1)">Cancel</button>
    </div>
  </div>

</div>
