@import '../../shared/styles/_variables.scss';

h3 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.info-row {
  width: 100%;
}
.name {
  float: left;
  padding-right: 10px;
  width: 100%;
  font-weight: 700;
}
.hiredOn {
  float: right;
  padding-left: 10px;
  width: 100%;
  white-space: nowrap;
}
button {
  font-family: $font-family-base;
  color: $ntGreen;
  background-color: $white;
  border: 1px solid;
  border-color: $gray;
  clear: both;
  &:hover {
    cursor: pointer;
  }
}
