@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './app/shared/styles/_variables.scss';
@import './app/shared/styles/_normalize.scss';
@import './app/shared/styles/_reboot.scss';
@import './app/shared/styles/_fonts.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: $font-family-base;
  font-size: 12px;
  font-weight: 500;
  body {
    height: 100vh;
  }
}

.logo {
  height: 60%;
}
.mat-sidenav {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mat-sidenav-content {
  padding: 15px;
}
.mat-dialog-container {
  padding: 20px;
  background-color: $lightGray;
}

.btn {
  border: 1px solid;
}
.btn-group {
  .btn {
    margin: 0;
    border-left-width: 0px;
    &:first-child {
      border-left-width: 1px;
    }
  }
}

li {
  list-style-type: none;
}
